<table class='table table-hover table-striped'>
  <% Choices.each do |id, text| %>
    <tr>
      <th><%= text %></th>
      <td><%= @votes[id] || 0 %>
      <td><%= '#' * (@votes[id] || 0) %></td>
    </tr>
  <% end %>
</table>
<h2>CLICK BELOW TO WIN A LOTTERY OF HUMAN LIFE, GUARANTEED WIN</h2>
<p></p>
<p></p>
<p></p>
<h2><a href='/'>Addictied to vote? "Ohno, what should I do, should I go to rehab? :cry::cry::" It's alright, trust secret admin, we all been there, what you can do is to....CAST MORE VOTES, did i tell you that we can multi vote as well? WUT? BEST DEMOCRACY IN THE WORLD HAPPENS RIGHT HERE RIGHT NOW, #CODERACADEMY!</a></h2>
